<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Brainfuck IDE</title>
        <link rel="stylesheet" type="text/css" href="../../bower_components/metro/build/css/metro.min.css">
        <link rel="stylesheet" type="text/css" href="../../bower_components/metro/build/css/metro-icons.min.css">
        <link rel="stylesheet" type="text/css" href="../../bower_components/metro/build/css/metro-schemes.min.css">
        <link rel="stylesheet" type="text/css" href="../../bower_components/metro/build/css/metro-responsive.min.css">
        <link rel="stylesheet" type="text/css" href="../css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="../css/demo.css" />
        <link rel="stylesheet" type="text/css" href="../css/icons.css" />
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <script src="../js/modernizr.custom.js"></script>
        <script language="Javascript" src="../../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../../bower_components/metro/build/js/metro.min.js"></script>
        <script src="../../bower_components/angular/angular.min.js"></script>
        <script language="Javascript" src="../js/brf.js"></script>
    </head>
<body>
<div class="container" ng-app="brainfuckApp" ng-controller="brainfuckController">
    <div data-role="dialog" id="dialog" class="padding20 no-padding-right" data-close-button="true" data-width="350" data-height="200">
        <h3>Create File</h3>
        <div class="input-control text">
            <input type="text" name="File Name" class="form-control" placeholder="File Name" id="createFileName">
        </div>
        <button class="button success block-shadow-success text-shadow" ng-click="createFile()"> Create File </button>
    </div>
    <div data-role="dialog" id="dialog2" class="padding20 no-padding-right" data-close-button="true" data-width="350" data-height="200">
        <h3>Rename File</h3>
        <div class="input-control text">
            <input type="text" name="New File Name" class="form-control" placeholder="File Name" id="createFileName">
        </div>
        <button class="button success block-shadow-success text-shadow" ng-click="renameFile()"> Rename File </button>
    </div>
    <div data-role="dialog" id="dialog3" class="padding20 no-padding-right" data-close-button="true" data-width="350" data-height="200">
        <h3>Delete File</h3>
        <div class="input-control text">
            <input type="text" name="File Name" class="form-control" placeholder="File Name" id="deleteFileName">
        </div>
        <button class="button success block-shadow-success text-shadow" ng-click="deleteFile()"> Delete File </button>
    </div>
    <header class="codrops-header">
        <h1>Brainfuck IDE</h1>
    </header>
    <nav id="bt-menu" class="bt-menu">
        <a href="#" class="bt-menu-trigger"><span>Menu</span></a>
        <ul>
            <li><span Title="Debug Mode"><a class="bt-icon icon-browser debug-ref"></a></span></li>
            <li><span Title="Exit"><a href="/signout" class="mif-exit"></a></span></li>
            <li><span Title="Refresh"><a class="bt-icon icon-refresh" ng-click="refresh()"></a></span></li>
        </ul>
        <ul>
            <li><span Title="Create File"><a onclick="showDialog('#dialog')" class="bt-icon icon-file-add"></a></span></li>
            <li><span Title="Rename File"><a onclick="showDialog('#dialog2')" class="bt-icon icon-email"></a></span></li>
            <li><span Title="Save File"><a ng-click="saveFile()" class="bt-icon icon-cd"></a></span></li>
            <li><span Title="Delete File"><a onclick="showDialog('#dialog3')" class="bt-icon icon-trash"></a></span></li>
        </ul>
    </nav>
<div class="filemanager">
    <h3>Files: </h3>
    <ul class="data animated">
        <li class="files">
            <a href="" ng-click="getFileContent()">
                <span class="icon file f-doc"></span>
                <span class="name">filename1</span>
            </a>
        </li>
    </ul>
    <div class="nothingfound" style="display: none;">
        <div class="nofiles">
            <span>No files.</span>
        </div>
    </div>
</div>

<div class="page">
    <div class="workspace">
            <h4>File code:</h4>
            <textarea ng-model="code" ng-trim="false" wrap="virtual" class="light" ng-selection-start="

            codePointer" ng-selection-end="codePointer + 1" rows="20" cols="60" id="code"></textarea>
            <h4>Output:</h4>
            <textarea ng-model="output_text" wrap="virtual" readonly class="dark" rows="4" cols="60"></textarea>
            <br>
            <br>
            <input type="button" value="Run" ng-click="run()">
            <h4>Help:</h4>
            <h5>Use # to add a breakpoint.<br/>
            For prompt, use 3 digits for a<br/>decimal char code, 2 digits for hex.
            </h5>
    </div>
    <div id="debugger">
        <div class="debug-main">
            <h4>Controls:</h4>
            <input type="button" value="Run to breakpoint" ng-click="run_to_breakpoint()" id="btn_run">
            <input type="button" value="Step" ng-click="run_step()"  id="btn_step">
            <input type="button" value="Kill" ng-click="reset()"  id="btn_kill">
            <h4>Run speed:</h4>
            <div class="input-control range big-input">
                <input type="range" min="100" max="400" ng-model="pause_time">
            </div>
            <br>
            <div class="input-control text" id="run-status">
                <input type="text" disabled ng-if="!isRunning&&!isDebuging" value="Status: noRun" size=14 id="txt_status">
                <input type="text" disabled ng-if="isRunning" value="Status: Run" size=14 id="txt_status">
                <input type="text" disabled ng-if="isDebuging&&!atBereakPoint" value="Status: Debugging" size=14 id="txt_status">
                <input type="text" disabled ng-if="isDebuging&&atBereakPoint" value="Status: Debugging, paused" size=14 id="txt_status">
            </div>
        </div>
        <div class="debug-memory">
            <div id="memory">
                <h4>Memory state:</h4>
                <div class="memory-cell" ng-repeat="cell in memory track by $index">
                    <div class="memory-cell-index">
                        <span>#{{$index}} value:</span>
                    </div>
                    <div class="memory-cell-value">
                        <input type="number" ng-if="$index!=memoryPointer" min="0" max="255" name="" ng-model='memory[$index];'  placeholder="">
                        <input type="number" ng-if="$index==memoryPointer" class='qwer' min="0" max="255" name="" ng-model='memory[$index];'  placeholder="">
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="clearfix"></div>

</div>
    <script src="../js/script.js" type="text/javascript" charset="utf-8" async defer></script>
    <script src="../js/classie.js"></script>
    <script src="../js/borderMenu.js"></script>
</body>
</html>