extends layout

block content
  .container(ng-app='brainfuckApp', ng-controller='brainfuckController')
      #dialog.padding20.no-padding-right(data-role='dialog', data-close-button='true', data-width='350', data-height='200')
        h3 Create File
        .input-control.text
          input#createFileName.form-control(type='text', name='File Name', placeholder='File Name')
        button.button.success.block-shadow-success.text-shadow(ng-click='createFile()')  Create File
      #dialog2.padding20.no-padding-right(data-role='dialog', data-close-button='true', data-width='350', data-height='200')
        h3 Rename File
        .input-control.text
          input#createFileName.form-control(type='text', name='New File Name', placeholder='File Name')
        button.button.success.block-shadow-success.text-shadow(ng-click='renameFile()')  Rename File
      #dialog3.padding20.no-padding-right(data-role='dialog', data-close-button='true', data-width='350', data-height='200')
        h3 Delete File
        .input-control.text
          input#deleteFileName.form-control(type='text', name='File Name', placeholder='File Name')
        button.button.success.block-shadow-success.text-shadow(ng-click='deleteFile()')  Delete File
      header.codrops-header
        h1 Brainfuck IDE
      nav#bt-menu.bt-menu
        a.bt-menu-trigger(href='#')
          span Menu
        ul
          li
            span(title='Debug Mode')
              a.bt-icon.icon-browser.debug-ref
          li
            span(title='Exit')
              a.mif-exit(href='/signout')
          li
            span(title='Refresh')
              a.bt-icon.icon-refresh(ng-click='refresh()')
        ul
          li
            span(title='Create File')
              a.bt-icon.icon-file-add(onclick="showDialog('#dialog')")
          li
            span(title='Rename File')
              a.bt-icon.icon-email(onclick="showDialog('#dialog2')")
          li
            span(title='Save File')
              a.bt-icon.icon-cd(ng-click='saveFile()')
          li
            span(title='Delete File')
              a.bt-icon.icon-trash(onclick="showDialog('#dialog3')")
      .filemanager
        h3 Files:
        ul.data.animated
          li.files
            a(href='', ng-click='getFileContent()')
              span.icon.file.f-doc
              span.name filename1
        .nothingfound(style='display: none;')
          .nofiles
            span No files.
      .page
        .workspace
          h4 File code:
          textarea#code.light(ng-model='code', ng-trim='false', wrap='virtual', ng-selection-start='\
          codePointer', ng-selection-end='codePointer + 1', rows='20', cols='60')
          h4 Output:
          textarea.dark(ng-model='output_text', wrap='virtual', readonly='', rows='4', cols='60')
          br
          br
          input(type='button', value='Run', ng-click='run()')
          h4 Help:
          h5
            | Use # to add a breakpoint.
            br
            |             For prompt, use 3 digits for a
            br
            | decimal char code, 2 digits for hex.
        #debugger
          .debug-main
            h4 Controls:
            input#btn_run(type='button', value='Run to breakpoint', ng-click='run_to_breakpoint()')
            input#btn_step(type='button', value='Step', ng-click='run_step()')
            input#btn_kill(type='button', value='Kill', ng-click='reset()')
            h4 Run speed:
            .input-control.range.big-input
              input(type='range', min='10', max='1000', ng-model='pause_time')
            br
            #run-status.input-control.text
              input#txt_status(type='text', disabled='', ng-if='!isRunning&&!isDebuging', value='Status: noRun', size='14')
              input#txt_status(type='text', disabled='', ng-if='isRunning', value='Status: Run', size='14')
              input#txt_status(type='text', disabled='', ng-if='isDebuging&&!atBereakPoint', value='Status: Debugging', size='14')
              input#txt_status(type='text', disabled='', ng-if='isDebuging&&atBereakPoint', value='Status: Debugging, paused', size='14')
          .debug-memory
            #memory
              h4 Memory state:
              .memory-cell(ng-repeat='cell in memory track by $index')
                span.ind {{$index}} value:
                input(type='number', ng-if='$index!=memoryPointer', min='0', max='255', name='', ng-model='memory[$index];', placeholder='')
                input.qwer(type='number', ng-if='$index==memoryPointer', min='0', max='255', name='', ng-model='memory[$index];', placeholder='')
        .clearfix
      .clearfix
