doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/metro/build/css/metro.min.css')
    link(rel='stylesheet', href='/metro/build/css/metro-icons.min.css')
    link(rel='stylesheet', href='/metro/build/css/metro-schemes.min.css')
    link(rel='stylesheet', href='/metro/build/css/metro-responsive.min.css')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/demo.css')
    link(rel='stylesheet', href='/css/icons.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/jquery/dist/jquery.min.js')
    script(src='/js/modernizr.custom.js')
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
    script(src='/js/script.js')
    script(src='/js/classie.js')
    script(src='/js/borderMenu.js')
    script(src='/metro/build/js/metro.min.js')
    script(src='/angular/angular.min.js', type='text/javascript')
    script(src='/js/brf.js', type='text/javascript')
    block scripts
